html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
}

nav{
    background-color: black;
    color: white;
    padding: 20px 50px;
}

.logo{
    height: 50px;
    width: 60px;
}
input:focus{
    outline: none;
}

.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    border: 0;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    padding: 5px 5px;
    border-radius: 5px;
}

#input{
    margin: 0px 0px 0px 0px;
    border: none;
    background-color: transparent;
    color: black;
}

.searchinput::placeholder{
    color: black;
}
.searchimage{
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0;
    border: 0;
}

.navBottom{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuitem{
    margin-right: 50px;
    margin-bottom: 0;
    font-size: 15px;
    color: whitesmoke;
    font-weight: 400;
    cursor: pointer;
}

.slider{
    background-image: url(https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80);
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}

.slideritem{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.sliderbg{
    height: 750px;
    width: 750px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
}

.sliderwrapper{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 400vw;
    z-index: 1;
    transition: 1s ease-in-out;
}
.slideimg{
    z-index: 1;
}

.slidertitle{
    position: absolute;
    top: 10%;
    right: 15%;
    font-size: 50px;
    color: white;
    font-weight: 900;
    text-align: center;
    z-index: 1;
}
.sliderprice{
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 60px;
    color: white;
    font-weight: 600;
    z-index: 1;
}

.buybutton{
    position: absolute;
    bottom: 10%;
    right: 5%;
    font-size: 50px;
    font-weight: 500;
    z-index: 1;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.buybutton:hover{
    background-color: black;
    color: white;
}

.slideritem:nth-child(1) .sliderbg{
    background-color: green;
}

.slideritem:nth-child(2) .sliderbg{
    background-color: teal;
}

.slideritem:nth-child(3) .sliderbg{
    background-color: Pink;
}

.slideritem:nth-child(4) .sliderbg{
    background-color: lightblue;
}

.slideritem:nth-child(1) .sliderprice{
    color:green;
}
.slideritem:nth-child(2) .sliderprice{
    color:teal;
}
.slideritem:nth-child(3) .sliderprice{
    color:lightpink;
}
.slideritem:nth-child(4) .sliderprice{
    color:lightblue;
}

.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.feature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}
.featureimg{
    width: 50px;
    height: 50px;
}

.featuretitle{
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
}

.featuredesc{
    color: gray;
    width: 50%;
    height: 100px;
}

.product{
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    position: relative;
    background-color: rgb(251, 249, 249);
}

.productdetails{
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 25px;
}

.productitle{
    font-size: 75px;
    font-weight: 900;
    margin: 0;
}

.productdesc{
    color: gray;
    font-weight: 100;
}

.colors, .sizes{
    display: flex;
}

.color{
    height: 25px;
    width: 25px;
    margin-right: 10px;
    background-color: black;
    border-radius: 20%;
    cursor: pointer;
}

.color:last-child{
    background-color: darkblue;
}
.size{
    background-color: white;
    height: 25px;
    width: 25px;
    margin:10px 10px 10px 0px;
    border: 1px solid black;
    text-align: center;
    border-radius: 20%;
    padding-top: 4px;
    margin: 10px;
    margin-left: 0;
    cursor: pointer;
}

.color:hover{
    box-shadow: 1px 1px;
}

.size:hover{
    background-color: black;
    color: white;
    font-weight: 100px;
}

.productbutton{
    float: right;
    background-color: black;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    cursor: pointer;
}

.productbutton:hover{
    background-color: white;
    color: black;
}

.paymentinput::placeholder{
    color: rgb(157, 156, 156);
}
.productimg{
    width: 50%;
}

.payment{
    height: 400px;
    width: 500px;
    position: absolute;
    background-color: white;
    top: 200vh;
    bottom: 0;
    left: 30vw;
    right: 0;
    display: none;
    flex-direction: column;
    padding: 10px 50px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.78); 
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.78);
}

.paytitle{
    font-size: 20px;
    color: gray;
    text-align: center;
}
label{
    font-size: 15px;
    font-weight: 300;
    padding: 5px 0px;
}

.paymentinput{
    border: none;
    border-bottom: 1px solid black;
    padding: 5px 0px;
}

.cardinfo{
    display: flex;
    justify-content: space-between;
}
.payinput{
    width: 97.5%;
    border: none;
    border-bottom: 1px solid black;
}

.payinput-sm{
    margin: 10px;
    margin-left: 0;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
    width: 35%;
}

.paybutton{
    border: none;
    border-radius: 10px;
    background-color: lightseagreen;
    height: 25px;
    width: 100%;
    
}

.close{
    position: absolute;
    top: 0;
    right:20px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    font-size: 20px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}
.close:hover{
    color: rgb(179, 14, 14);
    background-color: whitesmoke;
}

.gallery{
    display: flex;
}
.galleryitem{
    flex: 1;
    padding: 50px 50px;
    text-align: center;   
}
.galleryimg{
    width: 100%;
}


.newseason{
    display: flex;
}

.nsitem{
    flex: 1;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    border: none;
    font-size: 20px;
    font-weight: 1000;
}

.nsimg{
    width: 100%;
}
.nsbutton{
    cursor: pointer;
    border-radius: 25px;
    font-weight: 500;
    font-size: 20px;
    padding: 20px;
}
.nsitem:nth-child(2){
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.78); 
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.78);
    margin: 10px 0;
}

.nsitem:nth-child(1){
    margin-right: 0;
}
.nsitem:nth-child(3){
    margin-left: 0;
}

.nstitle:nth-child(3){
    padding-bottom:10px;
}

footer{
    display: flex;
}
.footerleft{
    flex: 2;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.listitem,  .listitem1{
    list-style: none;
    color: gray;
    padding: 3px;
    cursor: pointer;
    
}
.fmenu{
    padding: 10px;
    width: 100%;
}
.menutitle{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 15px;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flist{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.footerright{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footerimg{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.footertitle{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 750;
}

.footerbutton{
    background-color: white;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    padding: 0px 2px;
}

.footerbutton:hover{
    background-color: black;
    color: white;
    border: 3px solid black;
}

@media screen and (max-width:480px){
    nav{
        padding: 20px;
        margin: 0;
        flex-wrap: wrap;
    }
    .navTop{
        display: flex;
        flex-direction: column;
        
        flex-wrap: wrap;
    }
    .navBottom{
        flex-wrap: wrap;
    }

    .menuitem{
        margin: 20px;
        font-weight: 700;
        font-size: 20px;
    }
    .navItem:nth-child(3){
        display: none;
    }
    .slider{
        width: 100%;
        clip-path: none;
    }
    .slidertitle{
        display: none;
    }
    .slideritem{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .sliderbg{
        height: 300px;
        width: 300px;
    }
    .slideimg{
        height: 300px;
        width: 300px;
    }
    .sliderprice{
        top: 0;
        left: 5%;
        font-size: 20px;
        font-weight: 1000;
    }
    .buybutton{
        bottom: 40%;
        right: 2%;
        font-size: 20px;
        font-weight: 200;
    }


    .features{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .feature{
        margin: 0;
    }
    .featuredesc{
        height: 75px;
    }


    .product{
        clip-path: none;
        display: flex;
        flex-direction: column;
        position:unset;
    }   
   
    .productdetails{
        padding: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .productitle{
        font-size: 30px;
        font-weight: 500;
    }

    .productimg{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .productdetails{
        font-size: 20px;
    }
    .productdesc{
        margin: 0;
        margin-bottom: 10px;
    }

    #product{
        position: relative;
    }
    .payment{
        height: 57%;
        width: 75%;
        margin: 0 10%;
        left: 0;
        padding: 0;
        top: 150vh;
        clip-path: none;
    }
    label{
        padding: 10px;
    }
    .paymentinput, .payinput, .payinput-sm{
        width: 92%;
        margin: 10px;
    }
    .paybutton{
        margin: 10px 10px;
        width: 92%;
    }
    .close{
        right: 10px;
    }
    .cardicons{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
    .gallery{
        flex-direction: column;
    }
    .galleryitem{
        padding: 0;
    }
    .galleryitem:nth-child(1){
        padding-top: 40px;
    }
    .galleryitem:nth-child(2){
        padding-bottom: 40px;
    }


    .newseason{
        flex-direction: column;
    }
    .nsitem{
        margin: 0;
        
        -webkit-box-shadow: none; /* For older versions of WebKit browsers */
        box-shadow: none;
    }
    .nsbutton{
        font-weight: 300;
        font-size: 18px;
    }
    .nstitle{
        margin: 20px;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
    .footerright{
        justify-content: center;
        align-items: center;
    }
    .footertitleimg{
        padding: 0px 15px;
        
        font-size: 20px;
    }
    .mail{
        padding: 0px;
    }
}